
<h1>Edit Contact:</h1>
<!-- <script id="some-template" type="text/x-handlebars-template">  -->
<form id="edit-contact">
    <label for="firstname">First Name</label>
    <input name="contact[first_name]" type="text" id="firstname" value="{{contact.first_name}}"><br/>
    <label for="lastname">Last Name</label>
	  <input name="contact[last_name]" type="text" id="lastname" value="{{contact.last_name}}"><br/>
    <label for="email">Email</label>
	  <input name="contact[email]" type="text" id="email" value="{{contact.email}}"><br/>
    <label for="company">Company</label>
    <input name="contact[company]" type="text" id="company" value="{{contact.company}}"><br/>
    <label for="position">Position</label>
    <input name="contact[position]" type="text" id="position" value="{{contact.position}}"><br/>
	  <button id="cancel-contact">Cancel</button><button id="save-contact">Save</button><button id="delete-contact">Delete</button>
</form>
  <!-- </script> -->
