<h3>Contacts:</h1>
<!-- <script id="some-template" type="text/x-handlebars-template">  -->
  <table data-toggle="table" id="context" data-toggle="context" data-target="#context-menu">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Position</th>
    <th>Company</th>
    </thead>
    <tbody>
        {{#each contacts as |contact|}}
            <tr row-id="{{contact.id}}">
                <td class="edit-contact">{{contact.first_name}} {{contact.last_name}}</td>
                <td class="edit-contact">{{contact.email}}</td>
                <td class="edit-contact">{{contact.position}}</td>
                <td class="edit-company">{{contact.company}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="context" hidden>
      <div class="context_item">
        <div class="inner_item" id="new">
          New
        </div>
      </div>
      <div class="context_item">
        <div class="inner_item" id="edit">
          Edit
        </div>
      </div>
      <div class="context_item">
        <div class="inner_item" id="delete">
          Delete
        </div>
      </div>
      <div class="context_hr"></div>
      <div class="context_item">
        <div class="inner_item" id="display-logs">
          Display Contact Log
        </div>
      </div>
      <div class="context_item">
        <div class="inner_item" id="email-contact">
          Email Contact
        </div>
      </div>
    </div>
